{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    {% if close == 'true' %}
        <script>
            update_select('{{ pk }}', '{{ str }}', '{{ model }}', '{{ id }}');
        </script>
    {% endif %}

    <form name="form1" method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}
        
        <p></p>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button class="btn btn-danger" onclick="close_win()">Fechar</button>
    </form>
{% endblock %}