{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block menu %}
    <div class="row">
        <div class="col-3 logo">
            ISA
            <div class="isbn">
                ISBN 978-85-99764-26-8
            </div>
        </div>
        <div class="col-5 title">
            {% block title %}{% endblock %}
        </div>
        <!--div class="col-1 sponsor"><img src="{% static 'images/sponsors/epamig.png' %}" alt="Epamig"></div>
        <div class="col-1 sponsor"><img src="{% static 'images/sponsors/emater.png' %}" alt="Epamig"></div>
        <div class="col-1 sponsor"><img src="{% static 'images/sponsors/embrape.jpeg' %}" alt="Epamig"></div>
        <div class="col-1 sponsor"><img src="{% static 'images/sponsors/ufmg.png' %}" alt="Epamig"></div-->
    </div>
    <div class="row  row-space">
        <div class="col-12">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link {% block menu_guia %}{% endblock %}" href="{% url 'system_guia' %}">Guia de Aplicação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block menu_questionario %}{% endblock %}" href="{% url 'system_questionario' %}">Questionário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block menu_indicadores %}{% endblock %}" href="{% url 'system_indicadores' %}">Indicadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block menu_relatorio %}{% endblock %}" href="{% url 'system_relatorio' %}">Relatório</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block menu_plano_adequacao %}{% endblock %}" href="{% url 'system_plano_adequacao' %}">Plano de adequação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block menu_formulas %}{% endblock %}" href="{% url 'system_formulas' %}">Fórmulas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block menu_banco_de_dados %}{% endblock %}" href="{% url 'system_banco_de_dados' %}">Banco de dados</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}