{% extends 'sistema/base.html' %}

{% block title %}GUIA DE APLICAÇÃO{% endblock %}

{% block menu_guia %}active{% endblock %}

{% block main %}
    <div class="row row-space">
        <h1>Indicadores de Sustentabilidade em Agroecossistemas - ISA</h1>
    </div>
    <div class="row row-space">
        <div class="col-1"></div>
        <div class="col-6">
            <h4>O sistema ISA é composto por 7 pastas:</h4>
            <h5>
                1ª - Guia de aplicação
                <br>
                2ª - Questionário
                <br>
                3ª - Indicadores
                <br>
                4ª - Relatório
                <br>
                5ª - Plano de adequação
                <br>
                6ª - Fórmulas utilizadas nos Indicadores
                <br>
                7ª - Banco de dados utilizados nos indicadores
            </h5>
        </div>
    </div>
{% endblock %}