{% extends 'sistema/base.html' %}
{% load bootstrap %}

{% block title %}QUESTIONÁRIO{% endblock %}

{% block menu_questionario %}active{% endblock %}

{% block main %}
    <div class="row row-space">
        <div class="col-8">
            {% if message != '' %}
                <div class="alert alert-success alert-dismissible fade show row-space my-alert" role="alert">
                    {{ message }}
                    <button type="button" class="close close-btn" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            
            <form method="POST">
                {% csrf_token %}
    
                <div class="row">
                    {{ form.croqui|bootstrap }}
                </div>
                <div class="row">
                    <div class="col-5">
                        {{ form.colaborador|bootstrap }}
                    </div>
                    <div class="col-1 add-btn">
                        <a onclick="open_pessoa_form()" class="bi bi-plus-square-fill"></a>
                    </div>
                    <div class="col-5">
                        {{ form.beneficiario|bootstrap }}
                    </div>
                    <div class="col-1 add-btn">
                        <a onclick="open_pessoa_form()" class="bi bi-plus-square-fill"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        {{ form.localizacao|bootstrap }}
                    </div>
                    <div class="col-1 add-btn">
                        <a onclick="open_localizacao_form()" class="bi bi-plus-square-fill"></a>
                    </div>
                </div>
    
                <p></p>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
        <div class="col-4">
            
        </div>
    </div>
{% endblock %}