{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>WebSite - Estacionamento</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Estacionamento 24 Horas</h1>
                    <span>Slogan da sua empresa aqui</span>
                </div>
                <div class="col-6">
                    <img src="{% static 'img/parking.png' %}" alt="Estacionamento 24 Horas">
                </div>
            </div>

            <div class="row  row-space">
                <div class="col-12">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link {% block menu_home %}{% endblock %}" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block menu_servicos %}{% endblock %}" href="{% url 'website_servicos' %}">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block menu_sobre %}{% endblock %}" href="{% url 'website_sobre' %}">Sobre</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link {% block menu_planos %}{% endblock %}" href="{% url 'website_planos' %}">Planos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block menu_contato %}{% endblock %}" href="{% url 'website_contato' %}">Contatos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block menu_sistema %}{% endblock %}" href="{% url 'core_home' %}">Sistema</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% block main %}
            {% endblock %}

            {% include 'website/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>