{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>WebSite - Estacionamento</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Estacionamento 24 Horas</h1>
                <span>Slogan da sua empresa aqui</span>
            </div>
            <div class="col-6">
                <img src="{% static 'img/parking.png' %}" alt="Estacionamento 24 Horas">
            </div>
        </div>

        <div class="row  row-space">
            <div class="col-12">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link {% block menu_home %}{% endblock %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block menu_servicos %}{% endblock %}" href="{% url 'website_servicos' %}">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block menu_sobre %}{% endblock %}" href="{% url 'website_sobre' %}">Sobre</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link {% block menu_planos %}{% endblock %}" href="{% url 'website_planos' %}">Planos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block menu_contato %}{% endblock %}" href="{% url 'website_contato' %}">Contatos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block menu_sistema %}{% endblock %}" href="{% url 'core_home' %}">Sistema</a>
                    </li>
                </ul>
            </div>
        </div>

        {% block main %}
        {% endblock %}

        {% include 'website/footer.html' %}
    </div>
</body>
</html>