{% extends 'website/base.html' %}
{% load bootstrap %}
{% load static %}

{% block menu_contato %}active{% endblock %}

{% block main %}
    {% if status == 'show' %}
        <div class="alert alert-success alert-dismissible fade show row-space" role="alert">
            {{ mensagem }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="row row-space">
        <div class="col-6">
            <form class="row g-3" method="POST">
                {% csrf_token %}
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                </div>
                <div class="col-md-6">
                    <label for="inputNome4" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="inputNome4" placeholder="Nome" name="nome">
                </div>
                <div class="col-md-6">
                    <label for="inputSobrenome" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome" name="sobrenome">
                </div>
                <div class="col-md-12">
                    <label for="inputEndereco" class="form-label">Endereco</label>
                    <input type="text" class="form-control" id="inputEndereco" placeholder="Endereco" name="endereco">
                </div>
                <div class="col-md-12">
                    <label for="inputMensagem" class="form-label">Mensagem</label>
                    <textarea id="inputMensagem" cols="53" rows="10" name="mensagem"></textarea>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" name="receber-noticias">
                        <label class="form-check-label" for="gridCheck">
                            Receber novidades no email
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet. Est voluptas similique et quia quam id quia voluptas. 
                Ut alias quis et aliquam atque hic maiores nihil ex repellat dolorem ea molestiae 
                quia aut dolor velit. Vel corrupti eius sit cumque accusantium eos facilis 
                doloremque ut delectus quia eum ratione aspernatur.
                At quam repellendus id voluptas corporis ut ipsa laudantium aut dolor qui galisum 
                accusantium et saepe porro eum earum inventore. In recusandae earum et natus 
                voluptates aut sunt internos. Et sunt dolores qui omnis corporis in iusto error 
                cum voluptas voluptatem eos earum quod qui expedita rerum est debitis quae. 
                Sit rerum minima galisum voluptate ut vitae nihil.
            </p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1846.034591743954!2d-42.53470765174024!3d-22.27536899320857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x978a958dc44689%3A0xb82cfee60e11b5e7!2sRua%20General%20Os%C3%B3rio%2C%20166%20-%20Nova%20Friburgo%2C%20RJ%2C%2028605-010!5e0!3m2!1sen!2sbr!4v1639680861305!5m2!1sen!2sbr" 
                width="550" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
{% endblock %}