{% extends 'website/base.html' %}
{% load static %}

{% block menu_planos %}active{% endblock %}

{% block main %}
    <div class="row row-space">
        <div class="col-7">
            Lorem ipsum dolor sit amet. Est voluptas similique et quia quam id quia voluptas. 
            Ut alias quis et aliquam atque hic maiores nihil ex repellat dolorem ea molestiae 
            quia aut dolor velit. Vel corrupti eius sit cumque accusantium eos facilis 
            doloremque ut delectus quia eum ratione aspernatur.
            <br>
            At quam repellendus id voluptas corporis ut ipsa laudantium aut dolor qui galisum 
            accusantium et saepe porro eum earum inventore. In recusandae earum et natus 
            voluptates aut sunt internos. Et sunt dolores qui omnis corporis in iusto error 
            cum voluptas voluptatem eos earum quod qui expedita rerum est debitis quae. 
            Sit rerum minima galisum voluptate ut vitae nihil.
            <br>
            At quam repellendus id voluptas corporis ut ipsa laudantium aut dolor qui galisum 
            accusantium et saepe porro eum earum inventore. In recusandae earum et natus 
            voluptates aut sunt internos. Et sunt dolores qui omnis corporis in iusto error 
            cum voluptas voluptatem eos earum quod qui expedita rerum est debitis quae. 
            Sit rerum minima galisum voluptate ut vitae nihil.
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'img/parking.png' %}" alt="Minha imagem">
                </div>
            </div>
            <div class="row row-space">
                <div class="col-5"></div>
                <div class="col-7">
                    <button class="btn btn-secondary" style="min-width: 200px; min-height: 50px">Contratar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-7">
            Lorem ipsum dolor sit amet. Est voluptas similique et quia quam id quia voluptas. 
            Ut alias quis et aliquam atque hic maiores nihil ex repellat dolorem ea molestiae 
            quia aut dolor velit. Vel corrupti eius sit cumque accusantium eos facilis 
            doloremque ut delectus quia eum ratione aspernatur.
            <br>
            At quam repellendus id voluptas corporis ut ipsa laudantium aut dolor qui galisum 
            accusantium et saepe porro eum earum inventore. In recusandae earum et natus 
            voluptates aut sunt internos. Et sunt dolores qui omnis corporis in iusto error 
            cum voluptas voluptatem eos earum quod qui expedita rerum est debitis quae. 
            Sit rerum minima galisum voluptate ut vitae nihil.
            <br>
            At quam repellendus id voluptas corporis ut ipsa laudantium aut dolor qui galisum 
            accusantium et saepe porro eum earum inventore. In recusandae earum et natus 
            voluptates aut sunt internos. Et sunt dolores qui omnis corporis in iusto error 
            cum voluptas voluptatem eos earum quod qui expedita rerum est debitis quae. 
            Sit rerum minima galisum voluptate ut vitae nihil.
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'img/parking.png' %}" alt="Minha imagem">
                </div>
            </div>
            <div class="row row-space">
                <div class="col-5"></div>
                <div class="col-7">
                    <button class="btn btn-secondary" style="min-width: 200px; min-height: 50px">Contratar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}