{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 login-frame">

            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form class="row" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="col-lg-2 col-md-1 col-0"></div>
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="my-form">
                        {{ form|bootstrap }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <input type="hidden" name="next" value="{{ next }}">

                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                </div>
            </form>

        </div>
    </div>

{% endblock %}