{% extends 'base.html' %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% block menu_home %}{% endblock %}" aria-current="page" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% block menu_servicos %}{% endblock %}" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Serviços</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item {% block menu_pessoas %}{% endblock %}" href="{% url 'core_lista_pessoas' %}">Pessoas</a></li>
                <li><a class="dropdown-item {% block menu_veiculos %}{% endblock %}" href="{% url 'core_lista_veiculos' %}">Veículos</a></li>
                <li><a class="dropdown-item {% block menu_mensalistas %}{% endblock %}" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item {% block menu_movrotativos %}{% endblock %}" href="{% url 'core_lista_movrotativos' %}">Movimentos Rotativos</a></li>
                <li><a class="dropdown-item {% block menu_movmensalistas %}{% endblock %}" href="{% url 'core_lista_movmensalistas' %}">Movimentos Mensalistas</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out, {{ user }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}