{% extends 'core/base_servicos.html' %}
{% load bootstrap %}



{% block main %}
    <div class="row">
        <h1>Listar {{ titulo }}</h1>
        <!--ul>
            {% for obj in objs %}
                <li>
                    <a href="{% url update_url obj.id %}">{{ obj }}</a>
                </li>
            {% endfor %}
        </ul-->
        <table class="table">
            <thead class="table-dark">
                <tr>
                    {% for key, value in objs.0.items %}
                        <th>{{ key }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objs %}
                    <tr>
                        {% for key, value in obj.items %}
                            <td>{{ value }}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url update_url obj.id %}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1>Cadastrar</h1>
        <form action="{% url create_url %}" method="POST">
            {% csrf_token %}
    
            {{ form|bootstrap }}
            
            <p></p>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
{% endblock %}