{% extends 'core/base_servicos.html' %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h1>Atualizar {{ title }}: {{ obj }}</h1>
        
            <!-- 'action' é desnecessário já que vai derecionar para a página que a pessoa já está -->
            <form action="{% url update_url obj.id %}" method="POST">
                {% csrf_token %}

                {{ form|bootstrap }}

                <p></p>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url delete_url obj.id %}" class="btn btn-danger">Deletar</a>
            </form>
        </div>
    </div>

{% endblock %}